{% set slides = entry.carouselSlides.all %}

<!-- Slider main container -->
<div class="hp-swiper swiper-container overflow-hidden">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for slide in slides %}
          <div class="swiper-slide">
            {% set image = slide.image.one() %}
            {% set imageLink = slide.imageLink %}
            {% if imageLink|length %}
              <a href="{{ imageLink.url }}"><img src="{{ image.url('carousel') }}" alt="{{ slide.caption }}" /></a>
            {% else %}
              <img class="max-w-none" src="{{ image.url('carousel') }}" alt="{{ slide.caption }}" />
            {% endif %}
            {% if slide.caption|length %}
              <div class="caption ">
                <h2>
                  {{ slide.caption }}
                </h2>
                {% if slide.description|length %}
                  <p>{{ slide.description }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev !top-[33%] text-white"></div>
    <div class="swiper-button-next !top-[33%] text-white"></div>
 </div>

{% js %}
  document.addEventListener('DOMContentLoaded', function () {
  const mySwiper = new Swiper('.swiper-container', {
    speed: 500,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    loop: true,
  });
});
{% endjs %}